<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/estils.css">
  <title>{{title}}</title>
</head>
<body>

  {{> header}}

  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>

  <p>{{notice}}</p>

  {{#if showWarning}}
    <p style="color:red; font-weight:bold;">ATENCIÓ: Aquesta és una advertència!</p>
  {{/if}}

</body>
</html>
